:root {
    /* === Standard =============================================== */
    --color-primary:                    #dde8f8;
    --color-primary-light:              #e6eefa;
    --color-primary-soft:               #8b9cbb;
    --color-primary-bright:             #3d75dd;
    --color-primary-dark:               #476dab;
    --color-primary-bg:                 #01122d;

    --color-navbar:                     var(--color-primary-light); 

    /* === Typography ================================ */
    --color-text-primary:               var(--white);
    --color-text-secondary:             var(--black);
    --color-text-tertiary:              var(--grey-5);

    /* === Background ======================================= */
    --color-background:                 var(--color-primary-bg);
    --color-background-2:               var(--color-primary);
    --color-background-checkout:        var(--white);

    /* === Checkout ============================================== */
    --color-checkout-box:               var(--color-primary-soft);
    --color-checkout-box-2:             var(--white);

    /* === Buttons ================================================ */
    --color-button-primary:             #c02d2d;
    --color-button-primary-hover:       #840303;
    --color-button-secondary:           var(--color-primary-soft);
    --color-button-secondary-hover:     var(--color-primary-light);
    --color-button-unclickable:         var(--grey-1);
    --color-button-border:              var(--color-black);

    /* === Greys ================================= */
    --black:                            #111111;
    --grey-7:                           #333435;
    --grey-6:                           #535455;
    --grey-5:                           #797a7c;
    --grey-4:                           #9a9c9f;
    --grey-3:                           #bcbec1;
    --grey-2:                           #dadde1;
    --grey-1:                           #ecedee;
    --white:                            #f6f8fb;

    /* === Feedback ============================== */
    --color-instock:                    #48c933;
    --color-sale:                       #c90c0c;
    --color-outstock:                   #373837;
}