/* === Product Page Components =========================================== */

.product-page-panel {
    background-color: var(--color-primary);

    border-radius: var(--corner-round);
    margin: var(--space-xs);
    padding: var(--space-s);
    margin: var(--space-xs);
    
    display: flex;
    flex-wrap: wrap;
}

.product-page-image {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70%;
    background-color: blue;
}

.product-page-image img {
    width: 100%;
    object-fit: contain;
}

.product-page-image-secondary {
    min-width: 50px;
    display: flex;
    background-color: aqua;
}

.product-page-name {
    font-size: var(--text-xxl);
}

.add-to-cart {
    background-color: var(--color-button-primary);
    color: var(--white);

    font-size: var(--text-xl);
    font-family: var(--font-primary);
    font-weight: 1000;

    border: 0;
    border-radius: var(--corner-round);

    min-width: 90%;
    min-height: 5vh;
}