:root {
    background-color: var(--color-background);
    font-family: var(--font-primary);
    letter-spacing: .05em;
    color: var(--color-text-primary);
}

body {
    margin: var(--space-xs) var(--space-xs) 0;
    line-height: 1.2;
}

main {
    flex-direction: column;
}

h1 {
    font-family: var(--font-secondary);
    font-size: var(--text-xxl);
    letter-spacing: .1em;
    margin: var(--space-xxs);
    line-height: var(--heading-line-height);
}

a {
    height: 100%;
    text-decoration: none;
    color: var(--grey-4);
}

img {
    width: 100%;
}

hr {
    width: 100%;
    height: 0;
    margin-left: var(--space-s);
}

b {
    font-weight: 800;
}

/* === Header ============================================================== */

/* style for the logo */
.logo {
    filter: drop-shadow(0 0 60px var(--color-primary-dark));
    width: 220px;
    padding: var(--space-s) 3vw;
}

/* === Footer ============================================================== */

.footer {
    flex-direction: column;
    font-size: var(--text-m);

}

.policies {
    display: flex;
    align-items: baseline;
    flex-direction: column;
}

.socials {
    padding-top: var(--space-s);
    flex-direction: row;
    font-family: var(--font-secondary);
}

.links {
    padding-top: var(--space-s);
    width: 80%;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

.footer-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--text-xl);
    font-family: var(--font-secondary);
    padding-right: var(--space-m);
}

.footer-policies {
    padding: var(--space-m) 0 0 0;
}

.footer-bold {
    padding: var(--space-m) 0 var(--space-xxs) 0;
    font-weight: 700;
}

.footer-text {
    font-size: var(--text-s);
    padding: var(--space-l) 0;
}

.payment-icons {
    background-color: var(--color-background-2);
    border-radius: var(--corner-round);
    padding: var(--space-xxs) 0;
    margin: var(--space-m) 0;
}

.payment-icon {
    min-height: 20px;
    max-height: 20px;
    margin: var(--space-xs);
}
/* === Nav Bar ============================================================= */

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 9999; /* display nav bar in front of other content */
    background-color: var(--color-navbar);
}

/* space at the bottom of the page to ensure all content is visible */
.nav-space {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 58px;
}

/* === Menu ================================================================ */

/* box for items in the desktop menu */
.menu-list {
    display: flex;
    margin: auto;
    width: 100%;
}

/* items in the desktop menu */
.menu-item {
    margin: auto;
    font-size: var(--text-l);
    font-family: var(--font-secondary);
    color: var(--color-text-primary);
}

/* last item in a menu list */
.menu-item:last-child {
    margin-right: 0; /* remove right margin for the last menu item */
}

/* icon in the menu list */
.menu-icon {
    filter:invert(); /* invert black icon to appear white */
}

.shopping-cart {
    position: relative;
}

.cart-count {
    display: none;
    
    position: absolute;
    right: -4px;
    width: 20px;
    height: 20px;

    color: var(--color-text-primary);
    background-color: var(--color-button-primary);
    border-radius: 10px;
}

/* === Search Bar ========================================================== */

/* search box */
.search-bar {
    display: flex;
    align-items: center;
    flex: 1;
    width: 100%;
    height: auto;
    border-style: solid;
    border-color: var(--white);
    border-radius: 5px;
    padding: 0 var(--space-xs);
}

/* search label */
.search-products {
    font-size: var(--text-l);
    font-family: var(--font-primary);
    color: var(--color-text-tertiary);
    margin: var(--space-xxs) 0 var(--space-xxs) 0;
}

/* search icon */
.search-icon {
    filter:invert();
    max-width: var(--space-xxxl);
    max-height: var(--space-xxxl);
    margin-right: var(--space-xxs);
}

/* === Icon =============================================================== */

/* general icon sizing */
.icon {
    min-width: 40px;
    max-width: 40px;
    margin: var(--space-xxs);
}

/* container for icons */
.icon-box {
    display: flex;
    width: auto;
    padding-left: var(--space-l);
}

/* === Banner ============================================================== */

.banner {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.banner-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: auto;
}

.banner-button {
    position: absolute;
    bottom: 0%;
    left: 0%;
    transform: translate(8%, -50%);

    font-size: var(--text-m);

    width: 30vw;

    padding: var(--space-xxs) 0;
}

/* === Page Element ======================================================== */

.section-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: auto;
    margin: var(--space-s);
}

.content-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
}

.title {
    font-family: 'Johnny Fever';
    font-size: var(--text-xxl);
    display: flex;
    flex-direction: row;
    width: 100%;
    white-space: nowrap;
    line-height: 1.8;
}

.title-break {
    width: 100%;
}

.section-break {
    margin-left: 0;
}

.text {
    font-size: var(--text-xl);
    line-height: 1.5;
}

.portrait {
    width: 30%;
    float: right;
}

/* === Brand =============================================================== */

.brand-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vw;
    width: 10vw;
    background: var(--color-primary);
    clip-path: polygon(0% 0%, 80% 0%, 100% 20%, 100% 100%, 0% 100%);
}

.brand-icon > img {
    width: 75%;
}

.nintendo:hover {
    background-color: var(--color-background-nintendo);
}

.playstation:hover {
    background-color: var(--color-background-playstation);
}

.xbox:hover {
    background-color: var(--color-background-xbox);
}

.epic-games:hover {
    background-color: var(--color-background-epic);
}

.capcom:hover {
    background-color: var(--color-background-capcom);
}

.sega:hover {
    background-color: var(--color-background-sega);
}

.atari:hover {
    background-color: var(--color-background-atari);
}

.bandai:hover {
    background-color: var(--color-background-bandai);
}

/* === Filter ============================================================== */

.filter-form {
    width: 100%;
}

.filter-box {
    flex-direction: column;
    width: 28vw;
    min-width: 28vw;
}

.filters {
    background-color: var(--color-background-2);
    color: black;

    width: calc(100% - 2 * var(--space-xs));
    border-radius: var(--corner-round);
    padding: var(--space-xs);
}

.filter-title {
    font-size: var(--text-xl);
    font-weight: 700;
    padding: var(--space-xxs);
}

.filter-option {
    display: flex;
    align-items: center;

    justify-content: space-between;
    padding: calc(var(--space-xxs) * 0.75) calc(var(--space-xxs) * 0.75);
}

.filter-checkbox {
    width: 2vw;
    height: 2vw;
    margin-right: var(--space-xs);
}

.filter-input {
    display: flex;
    align-items: center;
}

.filter-number {
    font-size: var(--text-l);
    font-weight: 800;
}

.filter-label {
    font-size: var(--text-m);
}

.filter-break {
    margin-left: 0;
    border-color: var(--black);
}

.filter-prices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: var(--space-xxs);
}

.min-price, .max-price {
    flex-direction: row;

    font-size: var(--text-m);

    width: calc(50% - 3* var(--space-xs));

    border: solid black;
    padding: var(--space-xs);
    border-radius: var(--corner-round);
}

.price-input {
    font-weight: 1000;
    margin-right: var(--space-xxs);

    background-color: var(--color-background-2);
}

.min-price .price-input {
    width: 1ch;
}
.max-price .price-input {
    width: 4ch;
}

.filter-button {
    width: calc(100%);
    font-size: var(--text-l);
    margin: var(--space-s) 0;
}

.search-box {
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    width: 100%;
    margin: var(--space-s);
}

.vertical-break {
    width: 0;
    height: 100%;
    margin-right: var(--space-s);
}

.title:has(.vertical-break) {
    width: auto;
}

.search-product-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-m);
}

.search-product-box .product-card {
    min-width: calc(100% - 2 * var(--space-m));
    margin: 0;
}

.add-product {
    font-size: var(--text-l);
    padding: var(--space-xxs);
}

.search-product-box .product-card .product-card-detail {
    height: 40%;
}

.search-page-bar {
    display: flex;
    align-items: center;
    width: calc(100% - 2 * var(--space-xs));
    border-style: solid;
    border-color: var(--white);
    border-radius: 5px;
    padding: var(--space-xxs) var(--space-xs);
}

.search-page-filters {
    display: flex;
    justify-content: space-between;
    padding-top: var(--space-xs);
    padding-bottom: var(--space-xxxl);
}

/* === Product card ======================================================== */

.product-card {
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0 var(--space-xs);
    padding: var(--space-m);

    min-width: 193px;
    width: 20%;
    height: auto;

    border-radius: var(--corner-round);

    font-family: var(--font-primary);
    font-size: var(--text-xl);
    font-weight: 500;
}

.product-card:first-child {
    margin-left: 0;
}

.product-card:last-child {
    margin-right: 0;
}

.product-card-image {
    height: 60%;
    width: 100%;
}

.product-card-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.product-card-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--color-text-secondary);
    width: 100%;
    height: 35%;
}

.product-price {
    display: flex;
    align-items: center;
    flex-direction: row;

    font-size: var(--text-xxl);
    font-weight: 700;
    padding: var(--space-xxs) 0 var(--space-xxs) 0;
}

.product-card-price {
    font-weight: bold;
    font-size: var(--text-xxl);
    margin-right: var(--space-xxs)
}

.product-discounted-price {
    font-weight: bold;
    font-size: var(--text-m);
    color: var(--color-sale);
    text-decoration: line-through 1px;
}

.instock {
    color: var(--color-instock);
    font-weight: 750;
    text-shadow: 1px 1px var(--color-outstock);
}

.outstock {
    color: var(--color-outstock);
    font-weight: 750;
    text-shadow: 1px 1px var(--grey-5);
}

.product-card hr {
    margin: var(--space-l) 0 0 0;
    border-top: 1px solid black;
}

.product-sale-banner {
    background-color: var(--color-sale);
    width: 100%;
    height: var(--space-l);
    border-radius: var(--corner-round);
}

.product-sale-text {
    color: var(--color-text-primary);
    font-size: var(--text-m);
    font-weight: 750;
}

/* === Product Page ======================================================== */

.product-panel {
    background-color: var(--color-primary);

    border-radius: var(--corner-round);
    padding: var(--space-s);

    flex-direction: column;
}

.product-image {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: var(--space-xs);
    border: solid var(--black);
}

.product-image-secondary {
    width: 40%;
}

.product-name {
    font-size: var(--text-xxl);
    padding-top: var(--space-s);
}


.product-button {
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: fixed;
    bottom: 10%;

    width: calc(100% - 2 * var(--space-xs));
    height: 40px;
    z-index: 9999; /* display nav bar in front of other content */

    font-size: var(--text-xl);
}

.product-button-desktop {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 40px;
    z-index: 9999; /* display nav bar in front of other content */

    font-size: var(--text-xl);
}

.link-to-page {
    font-family: var(--font-secondary);
    color: var(--grey-4);
    font-size: var(--text-l);
}

.product-text {
    font-size: var(--text-xl);
}
/* === Buttons ============================================================= */

.button-primary {
    background-color: var(--color-button-primary);
    color: var(--white);

    font-family: var(--font-primary);
    font-weight: 1000;
    letter-spacing: .1em;

    border: none;
    cursor: pointer;
    border-radius: var(--corner-round);
}

.button-sold {
    background-color: var(--color-button-unclickable);
    color: var(--black);

    font-family: var(--font-primary);
    font-weight: 1000;
    letter-spacing: .1em;

    border: solid 2px;
    border-radius: var(--corner-round);
}

.button-primary:hover {
    background-color: var(--color-button-primary-hover);
}

/* === Utility ============================================================= */

/* truncate text overflow */
.truncate {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* center a flex box */
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* === Breakpoint ========================================================== */

/* changes these items in mobile version */
@media screen and (max-width: 932px) {
    
    .menu-list, .menu-item {
       display: none;
    }

    .banner {
        position: relative;
        width: 100%;
    }

    .content-box {
        max-width: 916px;
        overflow-x: scroll;
    }

    .brand-icon {
        margin: 0 var(--space-xs);
        
        /* doing this since 'aspect-ratio: 1' wasn't working on my browser!! */
        min-width: 80px;
        max-width: 80px;
        min-height: 80px;
        max-height: 80px;

    }

    .brand-icon:first-child {
        margin-left: 0;
    }

    .brand-icon:last-child {
        margin-right: 0;
    }

    .product-button-desktop {
        display: none;
    }

    .search-box .filter-box, .search-box .title .vertical-break {
        display: none;
    }

    .search-product-box {
        grid-template-columns: repeat(2, 1fr);
    }

    .cart-count {
        top: 10px;
    }
}

/* changes these items in desktop version */
@media screen and (min-width: 933px) {

    body {
        margin: var(--space-xs);
    }

    h1.centered, .nav-bar, .nav-space {
       display: none;
    }

    .banner {
        width: 60%;
        box-shadow: 19.7vw 0px 0px #00000040, -19.7vw 0px 0px #00000040;
    }

    .banner-button {
        width: 18vw;
    }

    .banner-box {
        background-image: url('../images/games/zelda-ocarina-of-time/zelda-oot-background-blurred-cropped.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position-y: 62%;
        background-clip: border-box;
    }

    .content-box {
        justify-content: space-between;
    }

    .links {
        flex-direction: column;
    }

    .contacts {
        padding-top: var(--space-xxxl);
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .policies {
        flex-direction: row;
        justify-content: space-between;
    }

    .contact-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .contact-box {
        display: flex;
        flex-direction: column;
    }

    .contact-box-2 {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .payment-icons {
        display: none;
    }

    .footer-text {
        padding-bottom: var(--space-xs);
    }

    .contacts-2 {
        width: 60%;
    }

    .product-button {
        display: none;
    }

    .product {
        display: flex;
        flex-direction: row;
    }

    .product-panel {
        max-width:50vw;
        width: 50vw;
    }

    .product-name {
        padding-top: 0;
    }

    .product-box {
        display: flex;
        flex-direction: column;
        
        padding-left: var(--space-s);
    }

    .product-text {   
        overflow-y: scroll;
        height: 100%;
    }

    .search-page-bar, .search-page-filters {
        display: none;
    }
}
