:root {
    background-color: var(--color-background);
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    filter: drop-shadow(0 0 60px var(--color-primary-dark));

    /* temporary sizes etc for testing */
    padding: 2vh;
    width: 30vh;
    height: 15vh;
}


/* EVERYTHING BELOW THIS LINE IS JUST FOR COLOUR TESTING */

.testtext {
    display:flex;
    flex-direction: column;
    background-color: #c0c0c0;
    border-radius: 5px;
    padding: 10px;
}

.primary {
    color: var(--color-text-primary);
}

.secondary {
    color: var(--color-text-secondary);
}
.tertiary {
    color: var(--color-text-tertiary);
}

.testcolour {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.a1, .a2, .a3, .a4, .a5, .a6, .a7, .a8, .a9 {
    background-color: aqua;
    width: 100px;
    height: 100px;
    padding: 10px;
}

.a1 {
    background-color: var(--white);
}
.a2 {
    background-color: var(--grey-1);
}
.a3 {
    background-color: var(--grey-2);
}
.a4 {
    background-color: var(--grey-3);
}
.a5 {
    background-color: var(--grey-4);
}
.a6 {
    background-color: var(--grey-5);
}
.a7 {
    background-color: var(--grey-6);
}
.a8 {
    background-color: var(--grey-7);
}
.a9 {
    background-color: var(--black);
}