:root {
    background-color: var(--color-background);
    font-family: var(--font-primary);
    letter-spacing: .05em;
    color: var(--color-text-primary);
}

body {
    margin: var(--space-xs) var(--space-xs) 0;
    line-height: 1.2;
}


main {
    flex-direction: column;
}

h1 {
    font-family: var(--font-secondary);
    font-size: var(--text-xxl);
    letter-spacing: .1em;
    margin: var(--space-xxs);
    line-height: var(--heading-line-height);
}

a {
    height: 100%;
}

img {
    width: 100%;
}

hr {
    width: 100%;
    height: 0;
    margin-left: var(--space-s);
}

/* === Header ============================================================== */

/* style for the logo */
.logo {
    filter: drop-shadow(0 0 60px var(--color-primary-dark));
    width: 220px;
    padding: var(--space-s) 3vw;
}

/* === Nav Bar ============================================================= */

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 9999; /* display nav bar in front of other content */
    background-color: var(--color-navbar);
}

/* space at the bottom of the page to ensure all content is visible */
.nav-space {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 58px;
}

/* === Menu ================================================================ */

/* box for items in the desktop menu */
.menu-list {
    display: flex;
    margin: auto;
    width: 100%;
}

/* items in the desktop menu */
.menu-item {
    margin: auto;
    font-size: var(--text-l);
    font-family: var(--font-secondary);
    color: var(--color-text-primary);
}

/* last item in a menu list */
.menu-item:last-child {
    margin-right: 0; /* remove right margin for the last menu item */
}

/* icon in the menu list */
.menu-icon {
    filter:invert(); /* invert black icon to appear white */
}

/* === Search Bar ========================================================== */

/* search box */
.search-bar {
    display: flex;
    align-items: center;
    flex: 1;
    width: 100%;
    border-style: solid;
    border-color: var(--white);
    border-radius: 5px;
    padding: 0 var(--space-xs);
}

/* search label */
.search-products {
    font-size: var(--text-l);
    font-family: var(--font-primary);
    color: var(--color-text-tertiary);
    margin: var(--space-xxs) 0 var(--space-xxs) 0;
}

/* search icon */
.search-icon {
    filter:invert();
    max-width: var(--space-xxxl);
    max-height: var(--space-xxxl);
    margin-right: var(--space-xxs);
}

/* === Icon =============================================================== */

/* general icon sizing */
.icon {
    width: 40px;
    margin: var(--space-xxs);
}

/* container for icons */
.icon-box {
    display: flex;
    width: auto;
    padding-left: var(--space-l);
}

/* === Banner ============================================================== */

.banner {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.banner-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: auto;
}

.banner-button {
    position: absolute;
    bottom: 0%;
    left: 0%;
    transform: translate(8%, -50%);

    width: 30vw;

    background-color: var(--color-button-primary);
    color: var(--white);

    font-family: var(--font-primary);
    font-size: var(--text-m);
    font-weight: 1000;
    letter-spacing: .1em;

    border: none;
    cursor: pointer;
    border-radius: var(--corner-round);

    padding: var(--space-xxs) 0;
}

.banner-button:hover {
    background-color: var(--color-button-primary-hover);
}

/* === Page Element ======================================================== */

.section-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: auto;
    margin: var(--space-s);
}

.content-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
}

.title {
    font-family: 'Johnny Fever';
    font-size: var(--text-xxl);
    display: flex;
    flex-direction: row;
    width: 100%;
    white-space: nowrap;
    line-height: 1.8;
}

.title-break {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: var(--space-xxxs);
}

/* === Brand =============================================================== */

.brand-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vw;
    width: 10vw;
    background: var(--color-primary);
    clip-path: polygon(0% 0%, 80% 0%, 100% 20%, 100% 100%, 0% 100%);
}

.brand-icon > img {
    width: 75%;
}

.nintendo:hover {
    background-color: var(--color-background-nintendo);
}

.playstation:hover {
    background-color: var(--color-background-playstation);
}

.xbox:hover {
    background-color: var(--color-background-xbox);
}

.epic-games:hover {
    background-color: var(--color-background-epic);
}

.capcom:hover {
    background-color: var(--color-background-capcom);
}

.sega:hover {
    background-color: var(--color-background-sega);
}

.atari:hover {
    background-color: var(--color-background-atari);
}

.bandai:hover {
    background-color: var(--color-background-bandai);
}

/* === Product card ======================================================== */

.product-card {
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0 var(--space-xs);
    padding: var(--space-m);

    min-width: 193px;
    width: 20%;
    height: auto;

    border-radius: var(--corner-round);

    font-family: var(--font-primary);
    font-size: var(--text-xl);
}

.product-card:first-child {
    margin-left: 0;
}

.product-card:last-child {
    margin-right: 0;
}

.product-card-image {
    height: 60%;
    width: 100%;
}

.product-card-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.product-card-detail {
    display: flex;
    flex-direction: column;
    color: var(--color-text-secondary);
    width: 100%;
    height: 25%;
}

.product-card-price {
    font-weight: bold;
    font-size: var(--text-xxl);
}

.instock {
    color: var(--color-instock);
    font-weight: 750;
    text-shadow: 1px 1px var(--grey-5);
}

.product-card hr {
    margin-left: 0;
    border-top: 1px solid black;
}

/* === Utility ============================================================= */

/* truncate text overflow */
.truncate {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* center a flex box */
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* === Breakpoint ========================================================== */

/* changes these items in mobile version */
@media screen and (max-width: 932px) {
    
    .menu-list, .menu-item {
       display: none;
    }

    .banner {
        position: relative;
        width: 100%;
    }

    .content-box {
        max-width: 916px;
        overflow-x: scroll;
    }

    .brand-icon {
        margin: 0 var(--space-xs);
        width: 80px;
        aspect-ratio: 1;
        height: 80px;
    }

    .brand-icon:first-child {
        margin-left: 0;
    }

    .brand-icon:last-child {
        margin-right: 0;
    }
}

/* changes these items in desktop version */
@media screen and (min-width: 933px) {

    body {
        margin: var(--space-xs);
    }

    h1.centered, .nav-bar, .nav-space {
       display: none;
    }

    .banner {
        width: 60%;
        box-shadow: 19.7vw 0px 0px #00000040, -19.7vw 0px 0px #00000040;
    }

    .banner-button {
        width: 18vw;
    }

    .banner-box {
        background-image: url('../images/games/zelda-ocarina-of-time/zelda-oot-background-blurred-cropped.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position-y: 62%;
        background-clip: border-box;
    }

    .content-box {
        justify-content: space-between;
    }
}
