:root {
    /* === Fonts =============================== */
    --font-primary: 'Titillium Web', sans-serif;
    --font-secondary: 'Johnny Fever', serif;

    /* === Base Values =============== */
    --text-base-size: 1rem; /* 16px */
    --text-scale-ratio: 1.25;

    /* === Text Scale ================================================ */
    --text-xxs: calc(var(--text-base-size) / (var(--text-scale-ratio)
        * var(--text-scale-ratio) * var(--text-scale-ratio)));
    --text-xs: calc(var(--text-base-size) / (var(--text-scale-ratio)
        * var(--text-scale-ratio)));
    --text-s: calc(var(--text-base-size) / (var(--text-scale-ratio)));
    --text-m: calc(var(--text-base-size));
    --text-l: calc(var(--text-base-size) * var(--text-scale-ratio));
    --text-xl: calc(var(--text-base-size) * var(--text-scale-ratio)
        * var(--text-scale-ratio));
    --text-xxl: calc(var(--text-base-size) * var(--text-scale-ratio)
        * var(--text-scale-ratio) * var(--text-scale-ratio));

    /* === Spacing ====== */
    --space-xxs: .25rem;
    --space-xs: .5rem;
    --space-s: .75rem;
    --space-m: 1rem;
    --space-l: 1.25rem;
    --space-xl: 1.5rem;
    --space-xxl: 1.75rem;
    --space-xxxl: 2rem;

    /* === Spacing ====== */
    --heading-line-height: 1.4;
    --body-line-height: 1.6;
}


@media screen and (max-width: 900px) {
    :root {
        --text-base-size: .75em;
    }
}

